
@{
    ViewBag.Title = "PrivacyPolicy";
}

@Styles.Render("~/Content/Desktop.css")

<div class="Html5JqueryBody">
    <h2>The Globe In My Application (TGIMBA) Privacy Policy</h2>

    <p>This application is a project to allow the developer to learn different technologies and demonstrate them.  It is not intended to be a fully functional site other the goal of being a demonstration application.  No warranty or promise of anything is granted and people are allowed to use it in whatever form is deployed at a given time.</p>

    <u>What We Collect</u>
    <p>Upon registration, we ask for your email address, a username and a password. We also collect any bucket list items that a user may create.  We may also log browser specific data.</p>

    <u>Collected Information User</u>
    <p>A user's username/password will be used for access to the website and/or mobile application(s) and/or other clients that may exist in the future.  Email addresses may be used to send notices about the operation of TGIMBA.  These will never be advertisements and will only be to alert a user to something important about the application.  Bucket list items will never be shared individually or in a way that a user may be identified.  However, summary information about how many users and the types of bucket list items will be shared in dashboards of the main website and/or other display areas in the website/mobile applications/other clients.  Summarized views may also be used when demonstrating new algorithms and/or features.</p>
    <p>TGIMBA data will never be made available to other parties for any reason unless required by law.</p>

    <u>Cookies</u>
    <p>The website, mobile applications and/or other clients do not use cookies.  Session will be used to maintain data while a user is logged in.</p>

    <u>Consent</u>
    <p>By using the TGIMBA website, mobile applications and/or other clients, you consent to this privacy policy.</p>

    <u>Privacy Policy Updates</u>
    <p>Any changes to this policy will be listed on this page.</p>
</div>

@{Html.RenderPartial("Footer");}