<div class="Footer">
  
    <a href="http://www.tgimba.com/" target="_self">Home</a>
    <a href="http://www.tgimba.com/WebRequest/Contact" target="_blank">Contact</a>
    <a href="http://www.tgimba.com/WebRequest/PrivacyPolicy" target="_blank">Privacy Policy</a>
    <a href="http://www.tgimba.com/WebRequest/RoadMap" target="_blank">Road Map</a>
     
      <!--
    <a href="http://localhost:12738/" target="_self">Home</a>
    <a href="http://localhost:12738/WebRequest/Contact" target="_blank">Contact</a>
    <a href="http://localhost:12738/WebRequest/PrivacyPolicy" target="_blank">Privacy Policy</a>
    <a href="http://localhost:12738/WebRequest/RoadMap" target="_blank">Road Map</a>
      -->
</div>