@{
    ViewBag.Title = "TGIMBA";
}

<link href="/Content/Desktop.css" rel="stylesheet" type="text/css" />

<div class="Html5JqueryBody">
    <h2><center>Welcome to 'The Globe In My Bucket <i>Application</i>' <br/>(TGIMBA)</center></h2>
    <p>
    This is a site to place your desired list of things you wish to complete while you are alive.
    </p>
    <p>I created TGIMBA because I am passionate about living my life through such a list.  It keeps me focused
       since there are so many things I wish to do.  I truly believe that you have between now and the 
       time your number is up and what you do with it is up to you. 
    </p>
    <p>
        This is also a work in progress that is allowing me to explore different technologies and how they 
        can be applied to the Internet. There are no warranties (implied or otherwise) and everyone is free 
        to use it as is. 
    </p>
    <p>
        Please click <a href="http://www.tgimba.com/Request/DirectRequest">here</a> to start.
    </p>
</div>
<div class="Footer">
    <a href="http://www.erichelin.com">Contact</a>
</div>