<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="Environment" value="Dev"/>
    <add key="BucketListDbConnStrDev" value="Data Source=DESKTOP-JMAB4BG\SQLEXPRESS;Initial Catalog=SQL2016_974243_bucketlist;Integrated Security=true;"/>
    <add key="BucketListDbConnStrProd" value=""/>
  </appSettings>
</configuration>
